{:deps
 {org.clojure/clojurescript {:mvn/version "1.10.238"}}

 :aliases
 {:prod-build {:main-opts ["-m" "cljs.main"
                           "--output-to" "main.js"
                           "--compile-opts" "{:optimizations,:advanced,,:infer-externs,true}"
                           "--compile" "hello-expo.core"]}}}
